@use '../../../theme/colors';
@use '../../../theme/fonts';
@use '../../../theme/variables';

:host {
  #container {
    background: colors.$color-white;
    width: 300px;
    height: 400px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 4px 2px #efefef;
    -moz-box-shadow: 0px 0px 4px 2px #efefef;
    box-shadow: 0px 0px 4px 2px #efefef;
  }

  #content {
    display: flex;
    flex-direction: column;
    padding: 15px 30px;
    gap: 5px;
  }

  .details {
    display: flex;
    flex-direction: row;
    gap: 5px;
  }

  img {
    border-radius: 5px 5px 0 0;
    object-fit: cover;
  }

  h4 {
    font-weight: fonts.$font-weight-bold;
    font-size: 17px;
  }

  .content-text {
    font-weight: fonts.$font-weight-thin;
  }

  @media only screen and (max-width: variables.$mobile-width) {
    #container {
      width: 100%;
      height: auto;
      padding-bottom: 20px;
    }
  }
}
