<div id="container">
  <div id="flag">
    <img src="{{country.flags.svg}}">
  </div>
  <div id="content">
    <h4>{{country.name.official}}</h4>
    <div class="details">
      <span>Population:</span>
      <span class="content-text">{{country.population}}</span>
    </div>
    <div class="details">
      <span>Region:</span>
      <span class="content-text">{{country.region}}</span>
    </div>
    <div class="details">
      <span>Capital:</span>
      <span class="content-text">{{country.capital}}</span>
    </div>
  </div>
</div>
