@use 'fonts';
@use 'colors';

body {
  margin: 0;
  @include fonts.font-normal();
}

button.default {
  height: 40px;
  border-radius: 5px;
  padding: 0 30px;
  font-size: 16px;
  background: colors.$color-white;
  -webkit-box-shadow: 0px 0px 4px 2px #efefef;
  -moz-box-shadow: 0px 0px 4px 2px #efefef;
  box-shadow: 0px 0px 4px 2px #efefef;
}

button.small {
  height: 30px;
  border-radius: 3px;
  padding: 0 30px;
  font-size: 13px;
  background: colors.$color-white;
  -webkit-box-shadow: 0px 0px 2px 1px #efefef;
  -moz-box-shadow: 0px 0px 2px 1px #efefef;
  box-shadow: 0px 0px 2px 1px #efefef;
}

input.search {
  padding: 0px 40px;
  height: 60px;
  background: colors.$color-white;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 4px 2px #efefef;
  -moz-box-shadow: 0px 0px 4px 2px #efefef;
  box-shadow: 0px 0px 4px 2px #efefef;
}

select.search {
  padding: 0px 20px;
  height: 60px;
  background: colors.$color-white;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 4px 2px #efefef;
  -moz-box-shadow: 0px 0px 4px 2px #efefef;
  box-shadow: 0px 0px 4px 2px #efefef;
  border-right: 20px solid transparent;
  cursor: pointer;
}

input, select:focus{
  outline: none;
}
