@use '../theme/variables';
@use '../theme/colors';
@use '../theme/fonts';

:host {
  #container {
    width: 100%;
    height: 80px;
    @include colors.light-mode();
  }

  #header {
    height: 75px;
    -webkit-box-shadow: 0px 0px 4px 4px #efefef;
    -moz-box-shadow: 0px 0px 4px 4px #efefef;
    box-shadow: 0px 0px 4px 4px #efefef;

  }

  #content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 100px 5px 100px;
    align-items: center;
    height: 100%;
    font-size: fonts.$font-size-detail;
  }

  #title {
    font-weight: fonts.$font-weight-bold;
    font-size: 24px;
  }

  #darkmode {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    cursor: pointer;
  }

  #icn-moon {
    width: 18px;
    height: 18px;
  }

  h3 {
    cursor: pointer;
  }

  @media only screen and (max-width: variables.$mobile-width) {
    #content {
      padding: 0 20px 5px 20px;
    }

    #title {
      font-weight: fonts.$font-weight-bold;
      font-size: 15px;
    }

    #darkmode {
      padding-top: 6px;
    }
  }

}

