<div id="container">
  <div id="navbar">
    <button class="default" routerLink="/list/">
      <ion-icon id="icn-back" name="arrow-back-outline"></ion-icon>
      Back
    </button>
  </div>
  <div id="content">
    <div id="flag">
      <img src="{{selectedCountry?.flags?.svg}}">
    </div>
    <div id="content-detail">
      <h3 id="title">{{selectedCountry?.name.common}}</h3>
      <div id="content-detail-horizontal">
        <div class="details-column">
          <div class="details">
            <span>Native Name:</span>
            <span *ngFor="let name of nativeNames; let last = last" class="content-text">{{name}}<span
              *ngIf="!last">, </span></span>
          </div>
          <div class="details">
            <span>Population:</span>
            <span class="content-text">{{selectedCountry?.population | number:'1.0':'en-US'}}</span>
          </div>
          <div class="details">
            <span>Region:</span>
            <span class="content-text">{{selectedCountry?.region}}</span>
          </div>
          <div class="details">
            <span>Sub Region:</span>
            <span class="content-text">{{selectedCountry?.subregion}}</span>
          </div>
          <div class="details">
            <span>Capital:</span>
            <span class="content-text">{{selectedCountry?.capital}}</span>
          </div>
        </div>
        <div class="details-column">
          <div class="details">
            <span>Top Level Domain:</span>
            <span class="content-text">{{selectedCountry?.tld}}</span>
          </div>
          <div class="details">
            <span>Currencies:</span>
            <span *ngFor="let currency of selectedCountry?.currencies | keyvalue; let last = last" class="content-text">
              {{currency.value.name}}<span *ngIf="!last">, </span>
            </span>
          </div>
          <div class="details">
            <span>Languages:</span>
            <span *ngFor="let language of selectedCountry?.languages | keyvalue; let last = last" class="content-text">
              {{language.value}}<span *ngIf="!last">, </span>
            </span>
          </div>
        </div>
      </div>
      <div *ngIf="selectedCountry?.borders?.length > 0" id="border-countries">
        <label id="border-title">Border Countries:</label>
        <div *ngFor="let border of selectedCountry?.borders" id="borders">
          <button *ngIf="((border | fifacodetoname: countries) != null)"
                  [routerLink]="['/detail/', (border | fifacodetoname: countries)]"
                  class="small btn-border-countries">{{border | fifacodetoname: countries}}</button>
        </div>
      </div>
    </div>
  </div>

</div>
